/* * {
  outline: 1px solid tomato;
} */

img {
  display: block;
  width: 100%;
  height: auto;
}

figure,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

.body__lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
}

.container.thin {
  width: 280px;
}

.container.wide {
  width: 300px;
}

@media screen and (min-width: 768px) {
  .container.thin {
    width: 620px;
  }

  .container.wide {
    width: 700px;
  }
}

@media screen and (min-width: 1440px) {
  .container.thin {
    width: 1060px;
  }

  .container.wide {
    width: 1262px;
  }
}

.section__title {
  position: relative;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 35px;
  }
}

.section__title::after {
  position: absolute;
  left: 0;
  bottom: -7px;
  content: "";
  display: block;
  width: 253px;
  height: 2px;
  background: #006dfe;
}

/* header styles */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  transition: all 750ms ease;
  z-index: 999;
}

.header--scrolling {
  background: #0e1d28;
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 55px 0 30px;
}

.logo__img {
  width: 60px;
}

@media screen and (min-width: 768px) {
  .logo__img {
    width: 82px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;

    background: #000000;
    transform: translateX(-100%);
    transition: all 300ms ease;
  }

  .nav__open {
    transform: translateX(0);
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin-bottom: 30px;

    list-style: none;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu {
    position: relative;
    width: 35px;
    height: 25px;
  }

  .mobile-menu__open-icon {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .mobile-menu__open-icon--active {
    display: block;
  }

  .open-icon__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;

    background: #ffffff;
  }

  .open-icon__line:nth-child(1) {
    top: 0;
  }
  .open-icon__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .open-icon__line:nth-child(3) {
    bottom: 0;
  }

  .mobile-menu__close-button {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .mobile-menu__close-button--active {
    display: block;
  }

  .close-button__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;

    background: #ffffff;
  }

  .close-button__line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .close-button__line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style: none;
  }
  .nav__item:not(:last-child) {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .nav__item:not(:last-child) {
    margin-right: 80px;
  }
}

.nav__link {
  display: flex;

  font-size: 25px;
  line-height: 1.33;
  color: #ffffff;
  opacity: 0.9;

  text-decoration: none;
  transition: all 300ms ease;
}

@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 18px;
  }
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  opacity: 1;
  transform: translateY(-5px);
}

/* hero styles */

.hero {
  min-height: 100vh;
  height: 962px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  color: #ffffff;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .hero__title {
    width: 620px;

    font-size: 50px;
  }
}

.hero__text {
  margin-bottom: 55px;
}

@media screen and (min-width: 768px) {
  .hero__text {
    margin-bottom: 55px;
    width: 545px;
  }
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.form fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  border: 0;
}

@media screen and (min-width: 1440px) {
  .form fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.form__input {
  min-width: 280px;
  padding-left: 45px;
  padding-bottom: 25px;

  border: 0;
  border-bottom: 2px solid #bfc0c5;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  background: transparent url("../img/form-oval-img.png") no-repeat left 3px;
  background-size: 20px;

  outline-style: none;
}

@media screen and (max-width: 1439px) {
  .form__input {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .form__input {
    min-width: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .form__input {
    min-width: 300px;
    margin-right: 60px;
  }
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;

  color: #ffffff;
}

.form__button {
  display: inline-block;
  border: none;
  padding: 15px 40px;
  margin: 0;

  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
  background: #1b7dff;

  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease;
}

.form__button:hover,
.form__button:focus {
  background: #0053ba;
}

.form__button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.form__button:active {
  transform: scale(0.99);
}

/* benefits styles */

.benefits {
  margin-bottom: 130px;
}

.benefits__wrapper {
  position: relative;
  padding: 32px 0 112px;

  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px 20px;

  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  background: #ffffff;

  transform: translateY(-99%);
}

@media screen and (min-width: 768px) {
  .benefits__title {
    padding: 60px 40px;

    font-size: 35px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits__title {
    padding: 93px 100px 88px;

    font-size: 35px;
  }
}

.benefits__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  list-style: none;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1439px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits__item {
    width: 317px;
  }
}

.benefits__icon {
  width: 66px;
  padding-bottom: 37px;
}

.benefits__card-title {
  padding-bottom: 26px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
}

.benefits__info {
  padding-bottom: 40px;
}

.benefits__link {
  display: inline-block;
  padding-right: 60px;

  font-weight: 300;
  font-size: 16px;
  color: #006dfe;
  background: url("../img/svg/arrow-right-icon.svg") no-repeat 98% center;

  text-transform: uppercase;
  text-decoration: none;
  transition: all 300ms ease;
}
.benefits__link:hover,
.benefits__link:focus {
  background: url("../img/svg/arrow-right-icon.svg") no-repeat right center;
}

/* trip styles */

.trip__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .trip__inner {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 767px) {
  .section__title {
    margin-bottom: 40px;
  }
}

.trip__view-all-link {
  display: inline-block;
  padding-right: 60px;

  font-weight: 300;
  font-size: 16px;
  color: #006dfe;
  background: url("../img/svg/arrow-right-icon.svg") no-repeat 98% center;

  text-transform: uppercase;
  text-decoration: none;
  transition: all 300ms ease;
}

.trip__view-all-link:hover,
.trip__view-all-link:focus {
  background: url("../img/svg/arrow-right-icon.svg") no-repeat right center;
}

.trip__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 130px;

  list-style: none;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

@media screen and (min-width: 768px) {
  .trip__list {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .trip__card:not(:last-child) {
    margin-bottom: 10px;
  }
}

.trip__card-link {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  text-decoration: none;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .trip__card-link {
    flex-direction: row;
    align-items: end;
    justify-content: flex-start;
  }

  .trip__card:nth-child(-n + 2) .trip__card-link {
    margin-bottom: 10px;
  }
}

.trip__card-link::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background: rgba(21, 24, 36, 0.4);

  z-index: 1;
}

.trip__card-img {
  width: 100%;
  height: 212px;

  object-fit: cover;
  transition: all 3000ms ease;
}

@media screen and (min-width: 768px) {
  .trip__card-img {
    width: 225px;
    height: 283px;
  }

  .trip__card:nth-child(-n + 2) .trip__card-img {
    width: calc((700px - 10px) / 2);
    height: 354px;
  }
}

@media screen and (min-width: 1440px) {
  .trip__card-img {
    width: 415px;
    height: 283px;
  }

  .trip__card:nth-child(-n + 2) .trip__card-img {
    width: calc((1262px - 10px) / 2);
    height: 354px;
  }
}

.trip__card-link:hover .trip__card-img,
.trip__card-link:focus .trip__card-img {
  transform: scale(1.2) rotate(2deg);
}

.trip__card-title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 30px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #ffffff;

  z-index: 2;
}

@media screen and (min-width: 768px) {
  .trip__card-title {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .trip__card-title {
    font-size: 50px;
  }
}

.trip__demo-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 77px;

  list-style: none;
}

@media screen and (min-width: 768px) {
  .trip__demo-card {
    flex-direction: row;
    justify-content: space-between;
  }

  .trip__demo-card:nth-child(2) {
    flex-direction: row-reverse;
  }
}

.trip__demo-img {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .trip__demo-img {
    width: 350px;
    height: 354px;
    margin-bottom: 0px;

    object-fit: cover;
  }
}

@media screen and (min-width: 1440px) {
  .trip__demo-img {
    width: 597px;
    height: 354px;
  }
}

.trip__demo-description {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .trip__demo-description {
    justify-content: center;
    width: 610px;
    padding: 100px 47px 0;
  }
}

@media screen and (min-width: 1440px) {
  .trip__demo-description {
    justify-content: center;
    width: 610px;
    padding: 100px 47px 0;
  }
}

.trip__demo-title {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 30px;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .trip__demo-title {
    position: absolute;
    top: 0;
    left: 0;

    margin-bottom: 0px;
    padding: 0 47px;

    font-size: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .trip__demo-title {
    padding: 26px 47px;

    font-size: 30px;
  }
}

.trip__demo-info {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .trip__demo-info {
    margin-bottom: 58px;
  }
}

.trip__demo-view-more {
  display: inline-block;
  padding-right: 60px;

  font-weight: 300;
  font-size: 16px;
  color: #006dfe;
  background: url("../img/svg/arrow-right-icon.svg") no-repeat 98% center;

  text-transform: uppercase;
  text-decoration: none;
  transition: all 300ms ease;
}
.trip__demo-view-more:hover,
.trip__demo-view-more:focus {
  background: url("../img/svg/arrow-right-icon.svg") no-repeat right center;
}

/* top-places styles */

.top-places {
  margin-bottom: 145px;
}

.top-places .section__title {
  margin-bottom: 65px;
}

.places__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
}

.place:not(:last-child) {
  margin-bottom: 58px;
}

@media screen and (min-width: 768px) {
  .places__list {
    justify-content: space-between;
  }

  .place {
    width: 330px;
  }

  .place:not(:nth-last-child(-n + 2)) {
    margin-bottom: 58px;
  }
}

@media screen and (min-width: 1440px) {
  .place {
    width: 386px;
  }

  .place:not(:nth-last-child(-n + 3)) {
    margin-bottom: 58px;
  }
}

.place__thumb {
  position: relative;
  margin-bottom: 45px;

  object-fit: cover;
  overflow: hidden;
}

.place__figure {
  position: relative;
}

.place__title {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 200px;
  overflow: hidden;
  padding: 15px 25px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;

  z-index: 2;
}

.place__stats {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px;

  font-weight: 400;
  color: #ffffff;
  background: rgba(21, 24, 36, 0.6);

  z-index: 1;
}

.place__likes,
.place__comments {
  position: relative;
  padding: 15px 20px 15px 0px;
}

.place__likes {
  margin-right: 15px;
}

.place__likes::after {
  content: url("../img/svg/heart-icon.svg");
  display: block;
  position: absolute;
  right: 0;
  bottom: 13px;
  width: 16px;
}

.place__comments::after {
  content: url("../img/svg/message-icon.svg");
  display: block;
  position: absolute;
  right: 0;
  bottom: 13px;
  width: 16px;
}

.place__info {
  margin-bottom: 30px;
}

.place__view-more-link {
  display: inline-block;
  padding: 12px 20px;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.18;
  color: #ffffff;
  background: #1b7dff;

  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease;
}
.place__view-more-link:hover,
.place__view-more-link:focus {
  background: #0053ba;
}

/* video-content styles */

.video {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}

.video__resizer {
  padding-top: 56.25%;
}

.video__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border: none;
}

/* footer styles */

.footer {
  background: #0e1d28;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 120px 0;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer__menu {
    align-items: center;
  }
}

.footer__logo-img {
  width: 110px;
}

@media screen and (min-width: 768px) {
  .footer__logo-img {
    width: 110px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__logo-img {
    width: 170px;
  }
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.navi-group:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .footer__navigation {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .navi-group:not(:last-child) {
    margin-right: 60px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .navi-group:not(:last-child) {
    margin-right: 140px;
  }
}

.navi-group__title {
  margin-bottom: 3px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
}

.navi-group__list {
  list-style: none;
}

.navi-group__item:not(:last-child) {
  margin-bottom: 3px;
}

.navi-group__link {
  color: #ffffff;

  text-decoration: none;
  transition: all 300ms ease;
}

.navi-group__link:hover,
.navi-group__link:focus,
.navi-group__link:active {
  color: #ffffff;

  opacity: 0.8;
}
