:root {
  --font-family: "Lato", sans-serif;
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-v23-latin-300.woff") format("woff"), url("../fonts/lato-v23-latin-300.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-v23-latin-regular.woff") format("woff"), url("../fonts/lato-v23-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-v23-latin-700.woff") format("woff"), url("../fonts/lato-v23-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

/* * {
  outline: 1px solid tomato;
} */
img {
  display: block;
  width: 100%;
  height: auto;
}

figure,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

.body__lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
}

.container.thin {
  width: 280px;
}

.container.wide {
  width: 300px;
}

@media screen and (min-width: 768px) {
  .container.thin {
    width: 620px;
  }
  .container.wide {
    width: 700px;
  }
}
@media screen and (min-width: 1440px) {
  .container.thin {
    width: 1060px;
  }
  .container.wide {
    width: 1262px;
  }
}
.section__title {
  position: relative;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 35px;
  }
}
.section__title::after {
  position: absolute;
  left: 0;
  bottom: -7px;
  content: "";
  display: block;
  width: 253px;
  height: 2px;
  background: #006dfe;
}

/* header styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  -webkit-transition: all 750ms ease;
  -o-transition: all 750ms ease;
  transition: all 750ms ease;
  z-index: 999;
}

.header--scrolling {
  background: #0e1d28;
}

.navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 55px 0 30px;
}

.logo__img {
  width: 60px;
}

@media screen and (min-width: 768px) {
  .logo__img {
    width: 82px;
  }
}
@media screen and (max-width: 767px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px 0;
    background: #000000;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .nav__open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 60px;
    margin-bottom: 30px;
    list-style: none;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile-menu {
    position: relative;
    width: 35px;
    height: 25px;
  }
  .mobile-menu__open-icon {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .mobile-menu__open-icon--active {
    display: block;
  }
  .open-icon__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
  }
  .open-icon__line:nth-child(1) {
    top: 0;
  }
  .open-icon__line:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .open-icon__line:nth-child(3) {
    bottom: 0;
  }
  .mobile-menu__close-button {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .mobile-menu__close-button--active {
    display: block;
  }
  .close-button__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
  }
  .close-button__line:first-child {
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }
  .close-button__line:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
  }
  .nav__item:not(:last-child) {
    margin-right: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .nav__item:not(:last-child) {
    margin-right: 80px;
  }
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  line-height: 1.33;
  color: #ffffff;
  opacity: 0.9;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 18px;
  }
}
.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  opacity: 1;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* hero styles */
.hero {
  min-height: 100vh;
  height: 962px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .hero__title {
    width: 620px;
    font-size: 50px;
  }
}
.hero__text {
  margin-bottom: 55px;
}

@media screen and (min-width: 768px) {
  .hero__text {
    margin-bottom: 55px;
    width: 545px;
  }
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border: 0;
}

@media screen and (min-width: 1440px) {
  .form fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.form__input {
  min-width: 280px;
  padding-left: 45px;
  padding-bottom: 25px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  background: transparent url("../img/form-oval-img.png") no-repeat left 3px;
  background-size: 20px;
  outline-style: none;
}

@media screen and (max-width: 1439px) {
  .form__input {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .form__input {
    min-width: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .form__input {
    min-width: 300px;
    margin-right: 60px;
  }
}
.form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
}
.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
}
.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
}
.form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
}
.form__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
}

.form__button {
  display: inline-block;
  border: none;
  padding: 15px 40px;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
  background: #1b7dff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.form__button:hover,
.form__button:focus {
  background: #0053ba;
}

.form__button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.form__button:active {
  -webkit-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}

/* benefits styles */
.benefits {
  margin-bottom: 130px;
}

.benefits__wrapper {
  position: relative;
  padding: 32px 0 112px;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  background: #ffffff;
  -webkit-transform: translateY(-99%);
  -ms-transform: translateY(-99%);
  transform: translateY(-99%);
}

@media screen and (min-width: 768px) {
  .benefits__title {
    padding: 60px 40px;
    font-size: 35px;
  }
}
@media screen and (min-width: 1440px) {
  .benefits__title {
    padding: 93px 100px 88px;
    font-size: 35px;
  }
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1439px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .benefits__item {
    width: 317px;
  }
}
.benefits__icon {
  width: 66px;
  padding-bottom: 37px;
}

.benefits__card-title {
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
}

.benefits__info {
  padding-bottom: 40px;
}

.benefits__link {
  display: inline-block;
  padding-right: 60px;
  font-weight: 300;
  font-size: 16px;
  color: #006dfe;
  background: url("../img/arrow-right-icon.svg") no-repeat 98% center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.benefits__link:hover,
.benefits__link:focus {
  background: url("../img/arrow-right-icon.svg") no-repeat right center;
}

/* trip styles */
.trip__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .trip__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 767px) {
  .section__title {
    margin-bottom: 40px;
  }
}
.trip__view-all-link {
  display: inline-block;
  padding-right: 60px;
  font-weight: 300;
  font-size: 16px;
  color: #006dfe;
  background: url("../img/arrow-right-icon.svg") no-repeat 98% center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.trip__view-all-link:hover,
.trip__view-all-link:focus {
  background: url("../img/arrow-right-icon.svg") no-repeat right center;
}

.trip__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 130px;
  list-style: none;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

@media screen and (min-width: 768px) {
  .trip__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .trip__card:not(:last-child) {
    margin-bottom: 10px;
  }
}
.trip__card-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-decoration: none;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .trip__card-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .trip__card:nth-child(-n+2) .trip__card-link {
    margin-bottom: 10px;
  }
}
.trip__card-link::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  z-index: 1;
}

.trip__card-img {
  width: 100%;
  height: 212px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 3000ms ease;
  -o-transition: all 3000ms ease;
  transition: all 3000ms ease;
}

@media screen and (min-width: 768px) {
  .trip__card-img {
    width: 225px;
    height: 283px;
  }
  .trip__card:nth-child(-n+2) .trip__card-img {
    width: 345px;
    height: 354px;
  }
}
@media screen and (min-width: 1440px) {
  .trip__card-img {
    width: 415px;
    height: 283px;
  }
  .trip__card:nth-child(-n+2) .trip__card-img {
    width: 626px;
    height: 354px;
  }
}
.trip__card-link:hover .trip__card-img,
.trip__card-link:focus .trip__card-img {
  -webkit-transform: scale(1.2) rotate(2deg);
  -ms-transform: scale(1.2) rotate(2deg);
  transform: scale(1.2) rotate(2deg);
}

.trip__card-title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #ffffff;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .trip__card-title {
    font-size: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .trip__card-title {
    font-size: 50px;
  }
}
.trip__demo-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 77px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .trip__demo-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .trip__demo-card:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
.trip__demo-img {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .trip__demo-img {
    width: 350px;
    height: 354px;
    margin-bottom: 0px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media screen and (min-width: 1440px) {
  .trip__demo-img {
    width: 597px;
    height: 354px;
  }
}
.trip__demo-description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .trip__demo-description {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 610px;
    padding: 100px 47px 0;
  }
}
@media screen and (min-width: 1440px) {
  .trip__demo-description {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 610px;
    padding: 100px 47px 0;
  }
}
.trip__demo-title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .trip__demo-title {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0px;
    padding: 0 47px;
    font-size: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .trip__demo-title {
    padding: 26px 47px;
    font-size: 30px;
  }
}
.trip__demo-info {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .trip__demo-info {
    margin-bottom: 58px;
  }
}
.trip__demo-view-more {
  display: inline-block;
  padding-right: 60px;
  font-weight: 300;
  font-size: 16px;
  color: #006dfe;
  background: url("../img/arrow-right-icon.svg") no-repeat 98% center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.trip__demo-view-more:hover,
.trip__demo-view-more:focus {
  background: url("../img/arrow-right-icon.svg") no-repeat right center;
}

/* top-places styles */
.top-places {
  margin-bottom: 145px;
}

.top-places .section__title {
  margin-bottom: 65px;
}

.places__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

.place:not(:last-child) {
  margin-bottom: 58px;
}

@media screen and (min-width: 768px) {
  .places__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .place {
    width: 330px;
  }
  .place:not(:nth-last-child(-n+2)) {
    margin-bottom: 58px;
  }
}
@media screen and (min-width: 1440px) {
  .place {
    width: 386px;
  }
  .place:not(:nth-last-child(-n+3)) {
    margin-bottom: 58px;
  }
}
.place__thumb {
  position: relative;
  margin-bottom: 45px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.place__figure {
  position: relative;
}

.place__title {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 200px;
  overflow: hidden;
  padding: 15px 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  z-index: 2;
}

.place__stats {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 25px;
  font-weight: 400;
  color: #ffffff;
  background: rgba(21, 24, 36, 0.6);
  z-index: 1;
}

.place__likes,
.place__comments {
  position: relative;
  padding: 15px 20px 15px 0px;
}

.place__likes {
  margin-right: 15px;
}

.place__likes::after {
  content: url("../img/heart-icon.svg");
  display: block;
  position: absolute;
  right: 0;
  bottom: 13px;
  width: 16px;
}

.place__comments::after {
  content: url("../img/message-icon.svg");
  display: block;
  position: absolute;
  right: 0;
  bottom: 13px;
  width: 16px;
}

.place__info {
  margin-bottom: 30px;
}

.place__view-more-link {
  display: inline-block;
  padding: 12px 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.18;
  color: #ffffff;
  background: #1b7dff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.place__view-more-link:hover,
.place__view-more-link:focus {
  background: #0053ba;
}

/* video-content styles */
.video {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}

.video__resizer {
  padding-top: 56.25%;
}

.video__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* footer styles */
.footer {
  background: #0e1d28;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 120px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer__menu {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.footer__logo-img {
  width: 110px;
}

@media screen and (min-width: 768px) {
  .footer__logo-img {
    width: 110px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__logo-img {
    width: 170px;
  }
}
.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navi-group:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .footer__navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navi-group:not(:last-child) {
    margin-right: 60px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .navi-group:not(:last-child) {
    margin-right: 140px;
  }
}
.navi-group__title {
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
}

.navi-group__list {
  list-style: none;
}

.navi-group__item:not(:last-child) {
  margin-bottom: 3px;
}

.navi-group__link {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.navi-group__link:hover,
.navi-group__link:focus,
.navi-group__link:active {
  color: #ffffff;
  opacity: 0.8;
}
/*# sourceMappingURL=main.css.map */